<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>VueJS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="vue-app">
    <h1>Keyboard Events Handling</h1>
    <label>Name</label>
    <br><br>
    <input type="text"/ v-model="name">
    <br>
    <span>{{name}}</span>
    <br><br><br><br>
    <label>Age:</label>
    <br><br>
    <input type="text" v-model="age"/>
    <br>
    <span>{{age}}</span>
    </div>

  <script src="app.js"></script>
</body>

</html>
